<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <button onclick="saveReq()">글작성</button>
    <a href="/board/save">글작성(링크)</a>
    <button onclick="listReq()">글목록</button>
    <button onclick="pageReq()">글목록</button>
</body>
<script>
    // ES6 함수 정의 방식
    const saveReq = () => {
        location.href = "/board/save";
    }
    const listReq = () => {
        location.href = "/board/";
    }
    const pageReq = () => {
        location.href = "/board/paging";
    }
</script>
</html>